body{
    background-color: rgb(26, 26, 26);
    text-align: center;
    font-family: Arial;
    color: rgb(48, 47, 47);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background: rgb(29, 29, 141);
    color: beige;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(36, 35, 35, 0.605);
    margin: 0;
    padding: 0.5em;
    text-align: left;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: center;
    border: 1px solid grey;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#post {
    background-color: white;
    padding: 1em;
}

#footer{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
    
}


